@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-body: #27282c;

  --color-white: #fff;
  --color-developer: #6737ac;

  --hover-btn-1: #1e9bff;
  --hover-btn-2: #6939af;
  --hover-btn-3: #0de5a8;
  --hover-btn-4: #e33c08;

  font-size: 62.5%;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-body);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  overflow-x: hidden;
}

.container {
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  margin-top: 3rem;
  margin-bottom: calc(8rem - 3rem);
}

header figcaption img {
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  transition: 0.4s;
  transform: scale(0.8);
}

header figcaption img:hover {
  transform: scale(1);
}

header h3 {
  margin-top: 15px;
  color: var(--color-white);
  letter-spacing: 0.2rem;
  font-size: 2.5rem;
}

header p {
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  color: var(--color-developer);
  font-weight: 700;
  margin-top: 1rem;
  font-size: 2rem;
}

/*===========MAIN=========*/
main {
  margin-bottom: 3rem;
}

main,
ul {
  display: flex;
}

ul {
  flex-direction: column;
  list-style: none;
  gap: 50px;
}

ul li {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  justify-content: center;
}

ul li a {
  text-decoration: none;
}

ul li .btn {
  position: relative;
  background: var(--color-white);
  /*color branca*/
  color: var(--color-white);
  text-transform: uppercase;
  font-size: 2.2rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
  /* padding: 1rem 3rem; */
  width: 220px;
  padding: 1.3rem;
  transition: 0.5s;
}

.btn-1:hover,
.btn-2:hover,
.btn-3:hover,
.btn-4:hover {
  letter-spacing: 0.25rem;
}

/* .btn-1:hover {
  background-color: var(--hover-btn-1);
  color: var(--hover-btn-1);
  box-shadow: 0 0 35px var(--hover-btn-1);
} */

.btn-1:hover,
.btn-2:hover,
.btn-3:hover,
.btn-4:hover {
  background-color: var(--hover-btn-2);
  color: var(--hover-btn-2);
  box-shadow: 0 0 35px var(--hover-btn-2);
}

/* .btn-3:hover {
  background-color: var(--hover-btn-3);
  color: var(--hover-btn-3);
  box-shadow: 0 0 35px var(--hover-btn-3);
} */

/* .btn-4:hover {
  background-color: var(--hover-btn-4);
  color: var(--hover-btn-4);
  box-shadow: 0 0 35px var(--hover-btn-4);
} */

.btn::before {
  content: "";
  position: absolute;
  inset: 2px;
  background-color: #27282c;
}

.btn span {
  position: relative;
  z-index: 1;
}

.btn i {
  position: absolute;
  inset: 0;
  display: block;
}

.btn i::before {
  content: "";
  position: absolute;
  top: 0;
  left: 80%;
  width: 10px;
  height: 4px;
  background-color: #27282c;
  transform: translateX(-50%) skew(325deg);
  transition: 0.5s;
}

.btn:hover i::before {
  width: 20px;
  left: 20%;
}

.btn i::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20%;
  width: 10px;
  height: 4px;
  background-color: #27282c;
  transform: translateX(-50%) skew(325deg);
  transition: 0.5s;
}

.btn:hover i::after {
  width: 20px;
  left: 80%;
}

/*=======FOOTER=======*/
footer {
  padding: 3rem;
}
footer h3 {
  color: var(--color-developer);
  font-size: 2.2rem;
  font-weight: 700;
  display: inline-block;
  transition: 0.5s;
}

footer h3 a {
  text-decoration: none;
  color: var(--color-white);
  font-size: 2.2rem;
  transition: 0.5s;
}

footer h3:hover {
  color: var(--color-white);
  cursor: pointer;
}

footer h3 a:hover {
  color: var(--color-developer);
}
